.RoomList{
    position: absolute;
    right: 0;
    top: 30px;
    background-color: white;
    min-width: 300px;
    display:none;
}
.RoomList-header
{
    padding: 3px 10px;
    text-align: center;
    background-color: #0AA3DA;
    color: white;
    font-size: 14px;
}
.RoomList .RoomListItem
{
    padding: 4px 8px;
}
.RoomList .digit-Button
{
    position: absolute;
    padding: 0;
    background-color: transparent;
    background-image: none;
    border: none;
    right: 10px;
    box-shadow: none;
    top: 5px;
    text-shadow: none;
    color: white;
    font-size: 12px;
}
[data-montage-skin="light"]  .digit-Button.montage--active
{
    background-image:none;
    box-shadow:none;
}